html, body {
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 40%;
    background-color: rgba(0, 255, 255, 0.5);
    padding: 10px 10px 0px;
}
.menu a {
    color: black;
    text-decoration: none;
}
.menu ul li {
    padding: 5px;
}
.header {
    min-height: 150px;
    background-color: aqua;
}
.content {
    background-color: white;
    min-height: 250px;
    padding: 20px;
}
.footer {
    background-color: aqua;
    min-height: 150px;
}

.table {
    background-color: lightgray;
}